<%layout("/layouts/boilerplate")%>

    <div class="row">
        <div class="col-6 offset-3">
    <h1>EDIT</h1><h3 style="color: red;"> <%=list.title%></h3>
    <form method="post" action="/listings/<%=list._id%>?_method=PUT" enctype="multipart/form-data">
        <div class="mb-3">  
            <label for="title" class="form-label"><b>Title</b></label>
        <input type="text" name="listing[title]" value="<%=list.title%>" class="form-control"> </div>
        <div class="mb-3">  
            <label for="description" class="form-label"><b>Description</b></label>    
       <input type="text" name="listing[description]" class="form-control"value="<%=list.description%>"></div>
       <label><b>IMAGE PREVIEW</b></label> 
       <div class="mb-3"> 
        <%if(ogurl)
        {%>
        <img src="<%=ogurl%>" style="border-radius: 2rem; width:250px; height: 200px;">
       
        <%}
        else
        {%>
            <p>NO PREVIOUS IMAGE</p>
        <%}%>
</div>
        <div class="mb-3">  
            <label for="image" class="form-label"><b>Image File</b></label>
     
     <input type="file" class="form-control" name="listing[image]" placeholder="enter url">
</div>
<div class="row">
    <div class="col-md-4">
<div class="mb-3">  
    <label for="price" class="form-label"><b>Price</b></label>
 
        <input type="number" class="form-control" name="listing[price]"value="<%=list.price%>">
</div>

</div>
<div class="col-md-8">
    <div class="mb-3">  
        <label for="location" class="form-label"><b>Location</b></label>
<input type="text" class="form-control" name="listing[location]" value="<%=list.location%>"></div></div></div>

       
  <div class="mb-3">  
    <label for="country" class="form-label"><b>Country</b> </label>
<input type="text"class="form-control" name="listing[country]" value="<%=list.country%>">
</div>

        <button class="btn btn-danger mt-3 mb-4">SUBMIT</button>

    </form>
    </div></div>
</body>
