<% if (success && success.length) { %>
<div class="alert alert-success d-flex align-items-center  alert-dismissible fade show" role="alert">
 
    <%=success%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>
<%}%>

<% if (ed && ed.length) { %>
  <div class="alert alert-success d-flex align-items-center  alert-dismissible fade show" role="alert">
   
      <%=ed%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  
  </div>
  <%}%>

  <% if (dlt && dlt.length) { %>
    <div class="alert alert-success d-flex align-items-center  alert-dismissible fade show" role="alert">
     
        <%=dlt%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
    </div>
    <%}%>

    <% if (rv && rv.length) { %>
      <div class="alert alert-success d-flex align-items-center  alert-dismissible fade show" role="alert">
       
          <%=rv%>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      
      </div>
      <%}%>
      <% if (dt && dt.length) { %>
        <div class="alert alert-success d-flex align-items-center  alert-dismissible fade show" role="alert">
         
            <%=dt%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        
        </div>
        <%}%>


        <% if (error && error.length) { %>
          <div class="alert alert-danger d-flex align-items-center  alert-dismissible fade show" role="alert">
           
              <%=error%>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          
          </div>
          <%}%>
          