<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-md-6 offset-md-3">
    <h2><%=list.title%></h2>
  
    <img src="<%=list.image.url%>"  class="show_img"><br>
    <p> Owned by <i><%=list.owner.username%></i></p>
    <h5><%=list.description%></h5>
    <p><i class="fa-solid fa-sack-dollar"></i> &#8377;<%=list.price?list.price.toLocaleString("en-IN"):100%>/night</p>
    <p><i class="fa-solid fa-location-dot"></i> Location:<%=list.location%></p>
    <p><i class="fa-solid fa-earth-americas"></i> Country:<%=list.country%></p>
    <%if(list.type1)
    {%>
        <p><i class="fa-solid fa-earth-americas"></i> Type:<%=list.type1%></p>
        <%}%>
    <% if(newUser && newUser._id.toString() === list.owner._id.toString()) { %>

        <div class="row">
            <div class="col-6">
               
    <form method="get" action="/listings/<%=list._id%>/edit">
        <button class="btn1">EDIT</button>
    </form>
    </div>
    <div class="col-6">
      
    <form method="post" action="/listings/<%=list._id%>?_method=delete">
        <button class="btn2">DELETE</button>
    </form>
    
</div>
</div>
<%}%>
</div>

<div class="row">
    <div class="col-8 offset-3">
        <hr>
        <%if(newUser){%>
    <form method="post" action="/listings/<%=list.id%>/reviews">
        
        <h5>Leave Reviews</h5>
    <div class="reviews">
        
    <div>
        <label for="rating" class="form-label">Rating</label><br>

<fieldset class="starability-slot ">
    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>
    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>
    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>
    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>
    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
  </fieldset>
  
  
  
    </div>
<div>
        <label for="comment" class="from-label">Comment</label><br>
        <textarea name="review[content]" cols="35" rows="5" required></textarea>
        </div>
    </div>
    <button class="btn1">SUBMIT</button>
</form>
<%}%>
<h3>PAST REVIEWS</h3>

    <div class="row">
    <%for(r1 of list.reviews)
    {%>

        <div class="card col-5 review-card ms-2 mb-2">
            <div class="card-body">
              <h5 class="card-title">@<%=r1.author.username%></h5>
              <p class="starability-result" data-rating="<%=r1.rating%>">
            </p>
              <p><%=r1.content%></p>
              
              <p ><%=r1.created_on.toLocaleDateString()%></p>
              <form method="post" action="/listings/<%=list.id%>/reviews/<%=r1.id%>?_method=delete">
              <button>Delete</button>
            </form>
            </div>
          </div>
     
    <%}%>
</div>
</div>
</div>
</div>

</body>
